body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
canvas{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: gray;
}

.main{
    display: flex;
}

.instrucciones{
    width: 300px;
    height: 530px;
    text-align: center;
    font-size: 20px;
    margin-top: auto;
}

.stats{
    width: 300px;
    height: 540px;
    text-align: center;
    font-size: 20px;
    margin-top: auto;
}

.stats p{
    margin-top: 40px;
}